@import '../lib/variables';

.full-screen {
  height: 100vh;
  width: 100vw;
}

.full-screen--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hdi-pane {
  background-color: $gray-light;
  padding: 1em;
}

.hdi-pane--medium {
  width: 35em;
}

.hdi-pane--rounded {
  border-radius: .5em;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.vertical-buffer {
  margin: .2em 0;
}

.right-align-text {
  text-align: right;
}


.form-control {
  height: 1.8em;
  padding: 0 8px;
  border: 1px solid gray;
  border-radius: 5px;

  &:focus {
    border-color: dodgerblue;
  }
}

.input-error {
  border: 1px solid $brand-danger;
}

.small-text {
  font-size: 75%;
}

.nav-tabs {
  margin-left: 15px;

  li {
    a {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: black;

      &:hover {
        color: white;
      }
    }

    &.active {
      a {
        color: white;
      }
    }

  }
}

.gid-tab-content {
  padding: 12px;
  border: 0 solid $gray-light;
  border-top-width: 1px;
}

rating {
  font-size: 10px;
}
