@import './src/mixins';

:host {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.script-submission-card {
  width: 80%;
  @include gid-card();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.script-submission-form {
  width: 90%;
}
