@import './src/variables';

:host {
  position: fixed;
  top: 60px;
  width: calc(100% - #{$dashboard-main-display-width});
  padding: 0 10px 0 5px;
  right: 0;
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 100%;
  margin: 0 0 5px 0;
}

