<gid-navbar></gid-navbar>

<div class="profile-page-container">
    <div class="profile-card">
        <h3 class="text-center">Profile</h3>


        <h4 class="text-center">Your Scripts</h4>
        <div class="scripts-container">
            <!--<div *ngFor="let script of myScripts; let i = index;"-->
                 <!--class="script-block">-->
                <!--<span>-->
                    <!--Title: {{ script.name }}-->
                <!--</span>-->
                <!--<button class="btn btn-sm btn-danger"-->
                        <!--(click)="confirmDeleteScript(script, i)">-->
                    <!--Delete-->
                <!--</button>-->
            <!--</div>-->

            <gid-single-script-display *ngFor="let script of myScripts"
                                       (click)="selectScript(script)"
                                       [script]="script">
            </gid-single-script-display>

        </div>

    </div>
</div>


