@import './src/mixins';

:host {
  display: block;
}

.profile-page-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.scripts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  @include gid-card();
  width: 80%;
}

.feedback-block {
  @include gid-script-block();
}
