<div class="gid-navbar">
    <button class="btn btn-info col-xs-4"
            (click)="goHome()">
        InkLoop
    </button>

    <button class="btn btn-primary col-xs-4"
            (click)="goToProfile()">
        <span *ngIf="loginService.userInfo">{{ loginService.userInfo.firstName }}{{ loginService.userInfo.lastName }}</span>
        <span *ngIf="!loginService.userInfo">Profile</span>
    </button>

    <button class="btn btn-info col-xs-4"
            (click)="logOut()">
        Logout
    </button>
</div>

<div class="gid-navbar-offset">

</div>
