:host {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.script-block {
  border: 1px solid gray;
  border-radius: 5px;
  width: 90%;
  padding: 3px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: #d0d0d0;
  }
}
