@import './src/mixins';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.script-block {
  @include gid-script-block();
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: #eeeeee;
  }
}
